[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.2.1"
pypdf4 = "==1.27.0"
flake8 = "*"
pytest-mock = "*"
v = {editable = true,version = "*"}
boto3 = "==1.16.59"

[packages]
dropbox = "==11.0.0"
requests = "==2.25.1"
lxml = "==4.5.2"
humanize = "==2.6.0"
click = "==7.1.2"
python-dateutil = "==2.8.1"
pydantic = "==1.7.3"
refurbished = {editable = true,git = "https://github.com/zmoog/refurbished.git",ref = "v0.3.0"}

[requires]
python_version = "3.8"
