[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.4.1"
pypdf4 = "==1.27.0"
flake8 = "*"

[packages]
dropbox = "==9.5.0"
requests = "==2.24.0"
lxml = "==4.5.0"
humanize = "==2.4.1"

[requires]
python_version = "3.7"
