-i https://pypi.org/simple
# refurbished: we need the unreleased 0.7.1 version with loosen dependency constraints
-e git+https://github.com/zmoog/refurbished.git@871feb67a479d3a02083440554112716648c59d5#egg=refurbished
boto3==1.21.26
click==8.0.4
dropbox==11.28.0
humanize==4.0.0
lxml==4.8.0
price-parser==0.3.3
pydantic==1.9.0
python-dateutil==2.8.2
requests==2.27.1
setuptools==61.0.0
typing-extensions==4.1.1
