-i https://pypi.org/simple
# -e git+https://github.com/zmoog/refurbished.git@033ab3c0e67b5fc4be7c756d16d20582a5d2c4aa#egg=refurbished
boto3==1.21.30
click==8.0.4
dropbox==11.28.0
humanize==4.0.0
lxml==4.8.0
price-parser==0.3.3
pydantic==1.9.0
python-dateutil==2.8.2
requests==2.27.1
setuptools==61.0.0
typing-extensions==4.1.1
